/* global */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    font-family: "Fira Sans", serif;
}

/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 160px 0px 160px;
    margin-top: 20px;
}

.navTitle {
    width: 222px;
    height: 38px;
}

.navBtn {
    color: rgb(0, 106, 80);
    padding: 15px 30px 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
}

.navBtn:hover {
    background-color: rgb(101, 244, 132);
    color: black;
}

/* bannerSection */

.bannerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin: 20px 160px 20px 160px;
    border-radius: 24px;
}

.bannerTitle {
    font-weight: 500;
}

.bannerDecription {
    margin-top: 30px;

}

.bannerBtn {
    width: 270px;
    height: 56px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 30px;
}

.bannerBtn:hover {
    background-color: rgb(105, 205, 182);
    color: black;
}

/* pillars of Bangladesh classes */
.pillarsInformation {
    margin: 20px 160px 20px 160px;
}

.pillarCards {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.pillarCard {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

}

.pillarsTitle {
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    margin-bottom: 10px;
}

/* vision section */
.visionInformation {
    margin: 20px 160px 20px 160px;
}

.visionTitle {
    font-size: 26px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-bottom: 0px;
}

.visionDescription {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.visionCards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.visionCard {
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.visionBtn {
    padding: 11px 20px 11px 20px;
    background-color: rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 30px;
}

.visionBtn:hover {
    color: rgb(7, 6, 6);
}

/* quotationSectionParentDiv */
.quotationSectionParentDiv {
    margin: 0px 160px 0px 160px;
    padding: 38px 24px 38px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image:url("/images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 29px;
}

.theQuote {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
}
.namePTag{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
line-height: 24px;
}
.attributesTag{
color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
